@model IEnumerable<Budget.Models.BudgetItems>

@{
    ViewBag.Title = "Budget Items";
    ViewBag.Menu = "Budget";
}

<section class="section colored-wrapper">
    <div class="container">
        <div class="wrapper-2">


            <h3>@ViewBag.Title</h3>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table" id="budgetsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(var item in Model) {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit", "Budgets", new { id = item.Id })">
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Budgets", new { id = item.Id })">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Budgets", new { id = item.Id })">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @section scripts{
        <script>
                    $(document).ready(function () {
                        $('#budgetsTable').DataTable({
                            //"order": [[0, "desc"]],
                        //    "columnDefs": [
                        //{
                        //    "targets": [0],
                        //    "sType": "date",
                        //    "visible": false,
                        //    "searchable": false,
                        //    "order": [0, "desc"]
                        //}
                        //    ]
                        });
                    });
        </script>
    }
</section>