@model Budget.Models.HouseHold
@using System.Collections


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label>Bank Account Name</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label>Bank Account Balance</label>
    </div>
</div>
@Html.HiddenFor(m => m.Id)
@foreach(var accounts in Model.BankAccounts) {
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="@Url.Action("Details", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Name</a>
        </div>
        <div class="col-md-4 col-md-pull-2 col-sm-4 col-sm-pull-2 col-xs-12 balance">
            @if(accounts.Balance < 0) {
                <span class="font-red"><a href="@Url.Action("Details", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Balance</a></span>
            }
            else {
                <span class=""><a href="@Url.Action("Details", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Balance</a></span>
            }

        </div>
    </div>
}