@model Budget.Models.HouseHold
@using System.Collections
@using Budget.Models

@{
    ViewBag.Title = "Details";
}

@Html.AntiForgeryToken()

<div>
    <h4>House Hold</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <a href="#sendInvitation" class="jsInvitation" data-householdid="@Model.Id" data-useremail="" data-sentcode="" data-toggle="modal" data-target="#sendInvitation">Invite Someone to this Household</a>
        </div>
        <form action="@Url.Action("LeaveHousehold", "HouseHolds")" method="post" name="LeaveHousehold">
            @Html.HiddenFor(m => Model.Id)
            <div class="col-md-4">
                <a href="#" onclick="form.submit();">Leave Household</a>
            </div>
        </form>
        <div class="col-md-4">
            @Html.ActionLink("Add Bank Account", "Create", "BankAccounts")
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <label>Members of this Household.</label>
        </div>
    </div>
    @foreach(var member in Model.Users) {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                @member.DisplayName
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                @member.Email
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Bank Account Name</label>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Bank Account Balance</label>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Transactions</label>
        </div>
    </div>
    @foreach(var accounts in Model.BankAccounts) {
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="@Url.Action("Edit", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Name</a>
            </div>
            <div class="col-md-4 col-md-pull-2 col-sm-4 col-sm-pull-2 col-xs-12 balance">
                @if(accounts.Balance < 0) {
                    <span class="font-red"><a href="@Url.Action("Edit", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Balance</a></span>
                }
                else {
                    <span class=""><a href="@Url.Action("Edit", "BankAccounts", new { bankAccountId = accounts.Id })">@accounts.Balance</a></span>
                }

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="@Url.Action("Details", "BankAccounts", new { bankAccountId = accounts.Id })">View Transactions</a>
            </div>
        </div>
    }

    
</div>


<div id="sendInvitation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="invitation-form" role="form" method="post" action="@Url.Action("Invite", "Households")">
                                    @Html.HiddenFor(m => Model.Id)
                                    <input type="hidden" name="sentCode" id="sentCode" value="" />
                                    <h5 class="subpage-title">Send Invitation</h5>
                                    <input name="inviteEmail" id="inviteEmail" value="" placeholder="New Member Email" />
                                    <input type="submit" class="btn btn-flat flat-color" value="Send Invitation" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('.jsCommentClass').click(function () {
            $('#householdId').val($(this).attr('data-houseHoldId'));
            $('#inviteEmail').val($(this).attr('data-useremail'));
            $('#sentCode').val($(this).attr('data-sentcode'));
        });
    </script>
}
