@using System.Collections
@using Budget.Models
@model Budget.Models.HouseholdUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseHold</h4>
    <hr />

    <form method="post" action="@Url.Action("Edit")">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => Model.HouseHolds.Id)

        @Html.LabelFor(m => m.HouseHolds, Model.HouseHolds.Name, new { @class = "control-label col-md-2" })
        @Html.ListBoxFor(m => m.SelectedMembers, Model.Members, new { @class = "form-control" })

        <button type="submit">Submit</button>

    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseHolds.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseHolds.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseHolds.Name)
        </dd>

    </dl>*@
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseHolds.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
@*

    <form method="post" action="@Url.Action("Edit")">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => Model.Project.Id)

        @Html.LabelFor(m => m.Project, Model.Project.Name, new { @class = "control-label col-md-2" })
        @Html.ListBoxFor(m => m.SelectedUsers, Model.Users, new { @class = "form-control" })

        <button type="submit">Submit</button>

    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

*@