@model Budget.Models.HouseHold
@using System.Collections
@using Budget.Models


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>House Hold</h4>
    <hr />
    <a href="#sendInvitation" class="jsInvitation" data-householdid="@Model.Id" data-useremail="" data-sentcode="" data-toggle="modal" data-target="#sendInvitation">Invite Someone to this Household.</a>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.Id)

    @foreach(var member in Model.Users) {
        <div class="row">
            <div class="col-md-6">@member.DisplayName</div>
            <div class="col-md-6">@member.Email</div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>



<div id="sendInvitation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="invitation-form" role="form" method="post" action="@Url.Action("Invite", "Households")">
                                    @Html.HiddenFor(m => Model.Id)
                                    <input type="hidden" name="sentCode" id="sentCode" value="" />
                                    <h5 class="subpage-title">Send Invitation</h5>
                                    <input name="inviteEmail" id="inviteEmail" value="" placeholder="New Member Email" />
                                    <input type="submit" class="btn btn-flat flat-color" value="Send Invitation" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('.jsCommentClass').click(function () {
            $('#householdId').val($(this).attr('data-houseHoldId'));
            $('#inviteEmail').val($(this).attr('data-useremail'));
            $('#sentCode').val($(this).attr('data-sentcode'));
        });
    </script>
}